body{
    /* background-color:rgb(247, 247, 130) ; */
    height: 1080px;
    text-align: center;
}

/* 顶端部分样式 */
div.top_bar{
    width: 80%;
    height: 6%;
    margin-left: auto;
    margin-right: auto;
    /* background-color: #aeb1c5; */
    /* border: 5px outset #394488; */
    /* border-color: #000000; */
}

h1.top_bar_sentence{
    vertical-align: 60%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    /* text-shadow: 2px 2px 2px rgb(52, 92, 92); */
    color:grey;
}

/* 主体部分样式 */
.main_content{
    text-align: center;
    /* background-color: rgb(82, 102, 102); */
    margin-left: auto;
    margin-right: auto;
    height: 1000px;
    width: 100%;
}

.main_content_left{
    background-color:rgb(150, 150, 150);
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 5px 5px 5px grey; */
}

.main_content_mid{
    background-color: rgb(50, 50, 50);
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 5px 5px 5px grey; */
}

.main_content_right{
    background-color:rgb(150, 150, 150);
    height: 100%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 5px 5px 5px grey; */
}

