body{
    background-color: azure;
    height: 1080px;
}

div.top_bar{
    width: 80%;
    height: 10%;
    background-color: #aeb1c5;
    border: 5px outset #394488;
    /* border-color: #000000; */
}

div.main_content{
    text-align: center;
    background-color: azure;
    height: 100%;
    width: 100%;
}

div.main_content_left{

    background-color: #b14d4d;
    height: 100%;
    width: 40%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

div.main_content_right{
    background-color: #293261;
    height: 100%;
    width: 40%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}