body{
    background-color: azure;
    height: 1080px;
}

/* 顶端部分样式 */
div.top_bar{
    width: 80%;
    height: 10%;
    background-color: #aeb1c5;
    border: 5px outset #394488;
    /* border-color: #000000; */
}

h1.top_bar_sentence{
    vertical-align: 60%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px rgb(52, 92, 92);
}

/* 主体部分样式 */
div.main_content{
    text-align: right;
    background-color: azure;
    height: 100%;
    width: 100%;
}

div.main_content_left{

    background-color: #b14d4d;
    height: 100%;
    width: 40%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}

div.main_content_right{
    background-color: #293261;
    height: 100%;
    width: 40%;
    float: left;
    margin-left: auto;
    margin-right: auto;
}